@{
    ViewData["Title"] = "Docenten";
}

<div class="row">
    <div class="col-md-6">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-3 formRow">
        <div class="form-group">
            <select class="form-select" id="exampleSelect1">
            <option>Richtingen</option>
            <option>Programmeren</option>
            <option>Netwerken</option>
            </select>
        </div>
     </div>
    <div class="col-md-3 mb-4 formRow">
        <div class="input-group">
            <input class="form-control me-sm-2" type="search" placeholder="Zoek op naam">
            <button type="button" class="btn btn-primary input-group-append"><i class="fa fa-search"></i></button>
        </div>
    </div>

<div class="card text-white bg-primary mb-3" style="max-width: 10rem;">
    <div class="card-header bg-secondary">Joeri Verlooy</div>
        <div class="card-body bg-primary">
        <p class="card-text"><i class="bi bi-person-x">Aanwezig</i></p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
    <div class="card-header">Joeri Verlooy</div>
        <div class="card-body">
        <p class="card-text"><span class="bi bi-person-fill-check bg-success"><i bi bi-person-fill-check></i>Afwezig</span></p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
    <div class="card-header">Joeri Verlooy</div>
        <div class="card-body">
        <p class="card-text"><span class="bi bi-patch-question bg-success">Onbekend</span></p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
    <div class="card-header">Joeri Verlooy</div>
        <div class="card-body">
        <p class="card-text"><span class="badge bg-success statusBadge">Aanwezig</span></p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
    <div class="card-header">Joeri Verlooy</div>
        <div class="card-body">
        <p class="card-text"><span class="badge bg-success statusBadge">Aanwezig</span></p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
    <div class="card-header">Joeri Verlooy</div>
        <div class="card-body">
        <p class="card-text"><span class="badge bg-success statusBadge">Aanwezig</span></p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
    <div class="card-header">Joeri Verlooy</div>
        <div class="card-body">
        <p class="card-text"><span class="badge bg-success statusBadge">Aanwezig</span></p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
    <div class="card-header">Joeri Verlooy</div>
        <div class="card-body">
        <p class="card-text"><span class="badge bg-success statusBadge">Aanwezig</span></p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
    <div class="card-header">Joeri Verlooy</div>
        <div class="card-body">
        <p class="card-text"><span class="badge bg-success statusBadge">Aanwezig</span></p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
    <div class="card-header">Joeri Verlooy</div>
        <div class="card-body">
        <p class="card-text"><span class="badge bg-success statusBadge">Aanwezig</span></p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 10rem;">
    <div class="card-header">Joeri Verlooy</div>
        <div class="card-body">
        <p class="card-text"><span class="badge bg-success statusBadge">Aanwezig</span></p>
    </div>
</div>


</div>
@*<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">naam</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Joeri Verlooy</td>
                    <td><span class="badge bg-success statusBadge">Aanwezig</span></td>
                </tr>
                <tr>
                    <td>Wim Janssen</td>
                    <td><span class="badge bg-danger statusBadge">Afwezig</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>*@