@model Boekingssysteem.ViewModels.IndexViewModel;

@{
    ViewData["Title"] = "Docenten";
}
<div class="row">
    <div class="col-md-6">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-3 formRow">
        <div class="form-group">
            <select class="form-select" id="exampleSelect1">
            <option>Richtingen</option>
            <option>Programmeren</option>
            <option>Netwerken</option>
            </select>
        </div>
     </div>
    <div class="col-md-3 mb-4 formRow">
        <div class="input-group">
            <input class="form-control me-sm-2" type="search" placeholder="Zoek op naam">
            <button type="button" class="btn btn-primary input-group-append"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">

    @foreach (var docent in Model.Docenten )
    {
        string icon = docent.Status == true ? "bi-person-fill-check" : docent.Status == false ? "bi-person-fill-x" : "bi-patch-question";

        <div class="col-sm-3 card text-white bg-secondary docentCard">
            <div class="card-header">@docent.Voornaam @docent.Achternaam</div>
                <div class="card-body">
                <p class="icons card-text"><span class="@icon"></span></p>
            </div>
        </div>
    }
    </div>
    @*<div class="card text-white bg-secondary m-1" style="max-width: 10rem;">
        <div class="card-header">Joeri Verlooy</div>
            <div class="card-body">
            <p class="icons card-text"><span class="bi-person-fill-check"></span></p>
        </div>
    </div>
    <div class="card text-white bg-secondary m-1" style="max-width: 10rem;">
        <div class="card-header">Joeri Verlooy</div>
            <div class="card-body">
            <p class="icons card-text"><span class="bi-person-fill-x"></span></p>
        </div>
    </div>
    <div class="card text-white bg-secondary m-1" style="max-width: 10rem;">
        <div class="card-header">Joeri Verlooy</div>
            <div class="card-body">
            <p class="icons card-text"><span class="bi-patch-question"></span></p>
        </div>
    </div>*@

</div>