@{
    ViewData["Title"] = "Reset";
}


<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group formRow">
                        <label for="inputRnummer">R-nummer</label>
                        <input type="text" class="form-control" id="inputRnummer">
                    </div>
                    <div class="form-group formRow">
                        <button type="button" class="btn btn-primary">Verzend code</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>