@model Boekingssysteem.ViewModels.GrantPermissionsViewModel

@{
    ViewData["Title"] = "Rollen Beheer";
}

<div class="row">
    <div class="col-md-6">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-3">
                 <form asp-action="GrantPermissions" asp-method="post" class="form-inline justify-content-center" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <select asp-for="GebruikerId" asp-items="Model.Gebruikers" class="form-select"></select>
                    </div>
                    <br />
                    <div class="form-group">
                        <select asp-for="RolId" asp-items="Model.Rollen" class="form-select"></select>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>