@model Boekingssysteem.ViewModels.DocentStatusViewModel;
@{
    ViewData["Title"] = "Status en afwezigheden";
}

<div class="row">
    <div class="col-md-6">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align:center">
        <h5>Status wijzigen</h5>
        <a asp-controller="Docent" asp-action="StatusWijzigen" type="button" id="statusBtn" class="btn @Model.GetButtonColor()">@Model.GetStatus()</a>
    </div>

    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Afwezigheden" method="post" class="form-inline justify-content-center">
            <input type="hidden" asp-for="Afwezigheid.AfwezigheidId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"/>
            <div class="row formRow">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="beginDatum" asp-for="Afwezigheid" class="form-control" />
                    <span asp-validation-for="Afwezigheid.Begindatum" class="text-danger"></span>
                </div>
            </div>
            <div class="row formRow">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="eindDatum" asp-for="Afwezigheid" class="form-control" />
                    <span asp-validation-for="Afwezigheid.Einddatum" class="text-danger"></span>
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Bevestig"/>
        </form>
    </div>
</div>